*{
    font-family: 'DM Sans', sans-serif;
}
.h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin: 10px ;
    display: flex;
    border: 1px black solid;
}

.textbox {
    width: 25%;
    border: 50%;
    margin: 10px;
}